---
// Permanent redirect: /videos → /transmissions
---
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="refresh" content="0;url=/transmissions" />
  <link rel="canonical" href="/transmissions" />
  <title>Redirecting…</title>
</head>
<body>
  <p>Redirecting to <a href="/transmissions">/transmissions</a>…</p>
  <script is:inline>window.location.replace('/transmissions');</script>
</body>
</html>
